* {
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
  font-family: "Varela Round", sans-serif;
  outline: none;
}
#button {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px 15px;
  background-color: #fff;
  border: none;
  border-radius: 10px;
}

#button:hover {
  cursor: pointer;
  transition-duration: 0.4s;
  background-color: gray; /* Green */
  color: white;
}

#userBox {
  margin: 20px;

  display: flex;
  justify-content: space-around;
  /* box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  border: none;
  border-radius: 10px;
  padding: 10px 15px;
}

#tweetBox {
  /* display: flex; */
  margin: 20px;
  height: 80vh;
  box-shadow: 0 0px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px 15px;
  background-color: #fff;
  border: none;
  border-radius: 10px;
}

#tweet {
  padding: 10px;
  margin-bottom: 20px;
  background-color: blanchedalmond;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#inputName {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px 15px;
  background-color: #fff;
  border: none;
  border-radius: 10px;
}

#inputText {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px 15px;
  background-color: #fff;
  border: none;
  border-radius: 10px;
}
ul {
  list-style: none;
}
